
footer {
    background-color: #fff;
  }

footer h2 {
  font-size: 15px;
}
footer p {
  font-size: 12px;
}
.footer-nav {
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-center {
  display: flex;
  padding-top: 50px;
  height: 250px;
  padding-bottom: 70px;
  
}
.footer-center .center {
  width: 500px;
  display: flex;
  justify-content: center;
}
.footer-center .center-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}


footer .footer-menu {
  display: flex;
  justify-content: space-between;
  border-top: .5px solid black;
  padding: 10px;
  font-size: 8px;
}
footer .footer-menu li {

}
footer .footer-menu li:not(:last-child):after {
  content: '|';
  margin-left: 10px;
}